{% extends "base.html" %}

{% block content %}

<p>Points gifted and received grouped by month:</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Gifted</th>
        <th scope="col">Received</th>
    </tr>
    </thead>
    <tbody>
    {% for report in data[0] %}
    <tr>
        <td>{{ report.year }}</td>
        <td>{{ report.month }}</td>
        <td>{{ report.given }}</td>
        <td>{{ report.received }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<p>Total points gifted and received by users:</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Gifted</th>
        <th scope="col">Received</th>
    </tr>
    </thead>
    <tbody>
    {% for report in data[1] %}
    <tr>
        <td>{{ report.username }}</td>
        <td>{{ report.GIVEN_OUT }}</td>
        <td>{{ report.CASHED_IN }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}