{% extends "base.html" %}

{% block content %}

<p>Report #3: All Redemption</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">RedemptionID</th>
        <th scope="col">Date</th>
        <th scope="col">UserID</th>
        <th scope="col">Cards</th>
    </tr>
    </thead>
    <tbody>
    {% for report in data %}
    <tr>
        <td>{{ report.TRANSACID }}</td>
        <td>{{ report.DATE }}</td>
        <td>{{ report.USERID }}</td>
        <td>{{ report.CARDS_REDEMPTIONS }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}